.main {
  background-color: black;
  color: white;
  min-height: 100vh;
}
#saying {
  color: red;
}

#header {
  display: inline;
}

@media only screen and (max-width: 700px) {
  #tCinemas {
    width: 100%;
  }
}
