#scheduleTitle {
  background-color: 'red';
}
#center {
  text-align: center;
}
#black {
  background-color: black;
  color: white;
  padding-bottom: 10%;
  /* height: 100%; */
}

/* #filler {
  height: 300px;
} */
